body {
    background-color: #1c1c1c;
    font-family: Arial, sans-serif;
  }
  
  .form-container {
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff; // Ajusta el color de fondo a uno más claro
    max-width: 600px;
    margin: 50px auto;
  }
  
  .title-container {
    display: flex;
    justify-content: center;
    color: #333;
  }
  
  .form-content h2 {
    color: #333;
    font-weight: bold;
    padding-bottom: 1rem;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  .mat-form-field {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 0 0.5rem;
  }
  
  mat-error {
    color: #ff5252;
  }
  
  mat-dialog-actions {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
  }
  
  button[mat-button] {
    background-color: #ff5252;
    color: #ffffff;
    border-radius: 8px;
    font-weight: bold;
  }
  
  button[mat-raised-button] {
    background-color: #4caf50;
    color: #ffffff;
    border-radius: 8px;
    font-weight: bold;
  }