:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
  
.home-container {
    max-width: 500px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}
  
mat-card-header {
    display: flex;
    justify-content: center;
}

mat-card-title {
    font-size: 24px;
    font-weight: bold;
}
  
mat-card-content p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
}
  
mat-card-actions {
    display: flex;
    justify-content: center;
}
.see-list-offers {
    font-size: 18px;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}
  
.see-list-offers:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
  
.see-list-offers:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(63, 81, 181, 0.5); /* color basado en el tema 'primary' */
}